#checkInput {
  width: 125px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

#checkBtn {
  background-color: plum;
  width: 75px;
  margin: 5px;
  border: 1px dashed red;
  border-radius: 20px;
}

.green {
  color: green;
}
.violet {
  color: violet;
}
.red {
  color: red;
}
.yellow {
  color: yellowgreen;
}
